
# Environment
ENVIRONMENT=development
ASPNETCORE_ENVIRONMENT=.Development

# Database Connection
UNIVERSITY_DB_HOST=mariaUNIVERSITY
UNIVERSITY_DB_PORT=3306
UNIVERSITY_DB_DATABASE=
UNIVERSITY_DB_USERNAME=
UNIVERSITY_DB_PASSWORD=
UNIVERSITY_DB_ROOT_PASSWORD=${UNIVERSITY_DB_PASSWORD}
UNIVERSITY_DB_FORWARD_PORT=3307

# API Configuration
API_PORT=80

# AWS SES
AWS_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_SES_FROM_EMAIL=
